glassesTools[GUI]==1.12.7   # pulls in various other dependencies such as imgui_bundle, matplotlib, numpy, opencv, pandas, polars
glassesValidator==2.0.7
typeguard
uvloop ; sys_platform != "win32"
watchfiles
pebble