glassesTools[GUI]~=1.22.1   # pulls in various other dependencies such as imgui_bundle, matplotlib, numpy, opencv, pandas, polars
typeguard
uvloop ; sys_platform != "win32"
pyobjc-framework-Cocoa ; sys_platform == "darwin"
watchfiles